body {
  background-color: #b5b9b5;
}

header {
  display: flex;
  justify-content: center;
}
h3,
p {
  padding-left: 5%;
  padding-top: 2%;
}
ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-text {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  box-shadow: 8px 3px 21px 7px rgba(109, 105, 105, 0.65);
  background-color: rgb(63, 61, 60);
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
img {
  width: 100%;
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
}
li {
  width: 330px;
  box-shadow: 8px 3px 21px 7px rgba(109, 105, 105, 0.65);
  background-color: rgb(63, 61, 60);
  color: white;
  list-style-type: none;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
@media screen and (max-width: 767px) {
  ul {
    padding-left: 0%;
    padding-right: 0%;
    display: block;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-right: 0%;
  }
}
